<%- layout('layout/boilerPlate')  %>

<form class="needs-validation" method=GET action="/artistans/v2/order/<%= post._id %>" novalidate>
  <div class="row postRow offset-2">
    <div class="mb-3 col-5">
      <img src="<%= post.imageUrl %>" />
    </div>
    <div class="mb-3 col-5">
      <p><%= post.title %></p>
    </div>
    <div class="mb-3 col-5">
      <p>Rs <%= post.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %></p>
    </div>
    <div class="mb-3 col-5">
      <p><b><%= post.description %></b></p>
    </div>
    <button id="order-btn" class="btn btn-primary">Order</button>
  </div>
</form>