<%- layout('layout/boilerPlate')  %>

<form class="needs-validation" method=POST action="/artistans/v2/post" novalidate>
  <div class="row postRow offset-2">
    <div class="mb-3 col-5">
      <label for="imgUrl" class="form-label">Image Link</label>
      <img src="<%= post.imageUrl %>" />
    </div>
    <div class="mb-3 col-5">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" placeholder="Title" value="<%= post.title %>">
    </div>
    <div class="mb-3 col-5">
      <label for="price" class="form-label">Price</label>
      <input type="number" name="price" class="form-control" placeholder="price" value="<%= post.price %>">
    </div>
    <div class="mb-3 col-5">
      <label for="discription" class="form-label">Description</label>
      <textarea class="form-control" name="description" rows="3" ><%= post.description %></textarea>
    </div>
  </div>
</form>