<%- layout('layout/boilerPlate')  %>

<form method="POST" action="/artistans/v2/post/<%= post._id%>?_method=PATCH"enctype="multipart/form-data" >
  <div class="row postRow offset-2">
    <div class="mb-3 col-5">
      <label for="imageUrl" class="form-label">Image Link</label>
      <input type="file" name="imageUrl" class="form-control" value="<%= post.imageUrl %>" >
    </div>
    <div class="mb-3 col-5">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" value="<%= post.title %>" >
    </div>
    <div class="mb-3 col-5">
      <label for="price" class="form-label">Price</label>
      <input type="number" name="price" class="form-control" value="<%= post.price %>" >
    </div>
    <div class="mb-3 col-5">
      <label for="discription" class="form-label">Description</label>
      <textarea class="form-control" name="description" rows="3" ><%= post.description %></textarea>
    </div>
    <div class="submitBtn">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>